@media screen and (max-width: 600px) {
    #main{
        display: flex;
        flex-direction: column;
    }
    #main #left{
        width: 100%;  
    }

    #main #right{
        width: 100%;
    }
    
    
}