*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
}

#left{
    width: 40%;
    height: 100vh;
}

#right{
    width: 60%;
    height: 100vh;
    background-color: blue;
}

#rtop{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: pink;
}
#rbottom{
    height: 50%;
    width: 100%;
    background-color: ;
}

#topleft{
    height: 100%;
    width: 55%;
    background-color: powderblue;
}

#topright{
    height: 100%;
    width: 45%;
    background-color: royalblue;
}